

/* -------------------------------------------------------------------------- */

/*	Swiper
/* -------------------------------------------------------------------------- */

/* Swiper1 ---------------------------- */

.swiper1 {
	position: relative;
	overflow: visible !important;
	width: 100% !important;
	max-width: 120rem !important;
	margin: 0 auto;
	padding: 0;
}

.swiper1 * {
	box-sizing: border-box;
}

.swiper1 .swiper-wrapper {
	margin: 0;
	padding: 0;
}

.swiper1 .swiper-slide {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	overflow: hidden;
	border-radius: 1.5rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	height: calc(100vh - 12rem);
	margin: 0;
	padding: 0;
}
@media ( min-width: 700px ) {
	.swiper1 .swiper-slide {
		flex-direction: row;
		height: 35rem;
	}
}

.swiper1 .swiper-slide-img-wrapper {
	flex: 1 1 50%;
	background-color: #ccc;
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
}
@media ( min-width: 700px ) {
	.swiper1 .swiper-slide-img-wrapper {
		width: 50%;
        height: 100%;
	}
}

.swiper1 .swiper-slide-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper1 .swiper-slide-body {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 3rem;
}
@media ( min-width: 700px ) {
	.swiper1 .swiper-slide-body {
		width: 50%;
		height: 100%;
		padding: 4rem;
	}
}

.swiper1 .swiper-slide-title {
	color: #d5142b;
	font-size: 2.4rem !important;
	font-weight: 600 !important;
	margin-top: 0;
	margin-bottom: 1rem;
}

.swiper1 .swiper-slide-title span {
	display: block;
	font-size: 1.4rem !important;
	font-weight: 500 !important;
	margin-bottom: 0.3rem;
}

.swiper1 .swiper-slide-text {
	color: #222;
	font-size: 1.3rem !important;
	font-weight: 500 !important;
	line-height: 1.7 !important;
	text-align: left;
}

.swiper1 .swiper-slide-body > *:last-child {
	margin-bottom: 0;
}

.swiper1 .swiper-pagination {
	position: relative;
	bottom: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	margin-top: 2rem;
}
@media ( min-width: 700px ) {
	.swiper1 .swiper-pagination {
		margin-top: 4rem;
	}
}

@media ( min-width: 1000px ) {
	.swiper1 .swiper-pagination-bullet {
		color: #777;
		font-size: 1.3rem;
		font-weight: 500;
		line-height: normal;
		text-align: center;
		border-radius: 0;
		width: auto;
		height: auto;
		opacity: 1;
		background: transparent;
		margin-right: 4rem !important;
	}
	.swiper1 .swiper-pagination-bullet:last-child {
		margin-right: 0 !important;
	}
}

.swiper1 .swiper-pagination-bullet-active {
	color:#007aff;
}

.swiper1 .swiper-button-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 80rem;
	height: 4rem;
}

.swiper1 .swiper-button-prev {
	left: 0;
}

.swiper1 .swiper-button-next {
	right: 0;
}

.swiper1 .swiper-button-prev::after,
.swiper1 .swiper-button-next::after {
	font-size: 2rem;
}

.swiper1 .swiper-button-disabled:after {
	display: none;
}

